<div class="container-fiuld user">
    <div class="row">
        <%= link_to 'マイページに戻る', user_path, class: 'link' %>
        <div class="col-lg-10 user-view">
            <div class="user-view-box">
                <div class="update-content">
                    <div class="row">
                        <h5>プロフィール</h5>
                    </div>
                </div>
                <div class="update-content">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="icon-box">
                                <%= image_tag @user.user_image.url, class: "user-image" %>
                            </div>
                        </div>
                    </div>
                </div>
            <%= form_with model: @user, url: { controller: "users", action: "update" } do |f| %>
                <table>
                    <tr>
                        <th><%= f.label :user_image, "アイコン画像" %></th>
                        <td class="user-image-upload"><%= f.file_field :user_image %></td>
                    </tr>

                    <tr>
                        <th><%= f.label :name, "名前" %></th>
                        <td><%= f.text_field :name, class: "input-area" %></td>
                    </tr>

                    <tr>
                        <th><%= f.label :user_introduction ,"自己紹介" %></th>
                        <td><%= f.text_area :user_introduction, class: "input-area" %></td>
                    </tr>
                </table>
                <div>
                <%= f.submit "更新", class: "btn" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
            