<div class="col-lg-10 user-view">
    <div class="user-view-box">
        <div class="update-content">
            <div class="row">
                <h5>マイページ</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="icon-box">
                    <%= image_tag @user.user_image.url, class: "user-image" %>
                </div>
            </div>
        </div>
    </div>
        <table>
            <tr>
                <th>ユーザー名</th>
                <td><%=@user.name %></td>
            </tr>

            <tr>
                <th>自己紹介</th>
                <td><%= @user.user_introduction %></td>
            </tr>

            <tr>
                <th>メールアドレス</th>
                <td><%= @user.email%></td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td>**********</td>
            </tr>
            </table>
</div>
<%= link_to 'プロフィール編集', edit_user_path, class: 'link' %>
<%= link_to 'メールアドレス・パスワード変更', edit_user_registration_path, class: 'link' %>
