<div class="top">
    <div class="top-main">
        <div class="container">
            <div class="row col-lg-6">
                <div class="form-fream">
                    <div class="form-area">
                        <p class="form-area-title mb-4">Potepan Shareでまだ体験したことのない旅をしよう</p>
                        <%= search_form_for @q, url: room_post_path do |f| %>
                                <label>エリア</label>
                                <%= f.search_field :room_address_cont ,class:"form-control mb-4 searchform",placeholder:"東京"%> 
                            <%= f.submit '探す',class:"form-control btn-primary mb-4"%>  
                        <% end %>
                                         
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel-area m-5">
            <h1 class="section-title">おすすめのエリア</h1>
            <div class="row">
                <div class="panel-item col-lg-3 col-6">
                    <span>東京</span>
                    <%=link_to image_tag("tokyo.webp",class:"panel-image"), '/'%>
                    <div class="shadow"></div>
                </div>
                <div class="panel-item col-lg-3 col-6">
                    <span>大阪</span>
                    <%=link_to image_tag("osaka.jpeg",class:"panel-image"), '/'%>
                    <div class="shadow"></div>
                </div>
                <div class="panel-item col-lg-3 col-6">
                    <span>京都</span>
                    <%=link_to image_tag("kyoto.jpeg",class:"panel-image"), '/'%>
                </div>
                <div class="panel-item col-lg-3 col-6">
                    <span>札幌</span>
                    <%=link_to image_tag("sapporo.jpeg",class:"panel-image"), '/'%>
                    <div class="shadow"></div>
                </div>
            </div>
        </div>
    </div>
</div>
