<h1>Rooms#new</h1>
<p>Find me in app/views/rooms/new.html.erb</p>
<div class="room-view">
    <div class="update-content">
      <div class="room-view-box">
        <div class="row">
          <h5>ルーム情報登録</h5>
        </div>
      </div>
    </div>
    <div class="update-content">
      <%= form_with(model: @room, local: true) do |f| %>
        <table>
          <tr>
            <th><%= f.label :room_name ,"ルーム名", class: "required" %></th>
            <td><%= f.text_field :room_name, class: "input-area" %></td>
          </tr>

          <tr>
            <th><%= f.label :room_introduction ,"ルーム紹介", class: "required" %></th>
            <td><%= f.text_area :room_introduction, class: "input-area" %></td>
          </tr>

          <tr>
            <th><%= f.label :room_price ,"料金", class: "required" %></th>
            <td><%= f.text_field :room_price, class: "input-area" %></td>
          </tr>

          <tr>
          <th><%= f.label :room_address ,"住所", class: "required" %></th>
          <td><%= f.text_area :room_address, class: "input-area" %></td>
          </tr>

          <tr>
            <th><%= f.label :room_image ,"ルーム画像", class: "required" %></th>
            <td><%= f.file_field :room_image, class: "room-image" %></td>
          </tr>

          <tr>
            <%= f.hidden_field :user_id, value: current_user.id %>
          </tr>
        </table>

        <div>
          <%= f.submit "登録", class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>
