<h1>検索結果<%=@number%>件<h1>
    <table>
    <thead>
      <tr align="center">
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成時</th>
      </tr>
    </thead>
    <% @results.each do |room| %>
        <tr>
        <td><%= link_to (image_tag room.room_image.url, :size => '240x140'), room_path(room.id) %></td>
        <td><%= link_to room.room_name, room_path(room.id) %></td>
        <td><%= room.room_introduction %></td>
        <td>¥ <%= room.room_price %></td>
        <td><%= room.user.id %></td>
        <td><%= room.user.name %></td>
        </tr>
    <% end %>
</table>
