<!DOCTYPE html>
<html>
  <head>
    <title>Poteshare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <div class = "header-inner">
      <div class = "header-left-menu">
        <%= link_to root_path do%>
          <%= image_tag 'https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png', alt: 'ロゴイメージ' %>
        <% end %>  
        <%= search_form_for @q, url: room_post_path do |f| %>
        <%= f.label :room_name_cont, 'キーワード' %>
        <%= f.search_field :room_name_cont %>
        <%= f.label :room_address_cont, '場所' %>
        <%= f.search_field :room_address_cont %>
        <br>
        <%= f.submit '検索' %>
    <% end %>
      </div>
      <div class = "header-right-menu">  
        <% if user_signed_in? %>
          <%= link_to 'アカウント編集', user_path(current_user.id), class: 'nav-link' %>
          <%= link_to '新規ルーム登録', new_room_path, class: 'nav-link' %>
          <%= link_to '登録済みルーム一覧', rooms_path, class: 'nav-link' %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          <%= link_to "予約済みルーム一覧", reservations_path, class: 'nav-link' %>
          <%= link_to '宿泊施設一覧', room_post_path, class: 'nav-link' %>
            
        <% else %>
          <%= link_to 'ログイン', user_session_path, class: 'btn btn-primary' %>
          <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-success' %>
        <% end %>
      </div>
     </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= link_to '登録済みルーム一覧', rooms_path, class: 'nav-link' %>
    <%= yield %>
  </body>
</html>
